html,body{
    margin: 0px;
    background-color: black;
    color: white;
}
button{
    margin: 50px;
    background-color: grey;
    color: black;
    border: 4px solid white;
    border-radius: 25px;
    height: 50px;
    font-size: large;
    width: 150px;
}
button:active{
    background-color: rgb(100, 99, 99);
}
#board-container{
    display: grid;
    grid-template-rows: repeat(3,20vh);
    grid-template-columns: repeat(3,20vh);
    margin: 50px;
}
.gameboard-cell{
    border: 2px solid white;
    color: white;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameboard-cell:active{
    border: 5px solid grey;
    background-color: rgb(25, 25, 25);
}
#pop-up-names{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 30vw;
    top: 30vh;
    background-color: grey;
    border: 4px solid white;
    height: 40vh;
    width: 40vw;
}
.inputs{
    font-size: larger;
    border: 3px solid black;
    background-color: grey;
    height: 30px;
    width: 30vw;
}
#pop-up-names input,label{
    margin: 5px;

}
#header{
    display: flex;
    flex-direction: row;
}
#p1-score-container , #p2-score-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}
